.header {
    position: fixed;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
    z-index: 9999;
}
.header:hover {
    color: rgba(255, 255, 255, 1);
}

.header-item-active {
    width: 49%;
}
.header-item-inactive {
    width: 17%;
}
.header-item-transition {
    width: 25%;
}
.header-item-active, .header-item-inactive, .header-item-transition {
    transition: 0.5s;
    height: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    overflow: hidden;
}
@media only screen and (max-width: 800px) {
    .header-item-active, .header-item-inactive, .header-item-transition {
        font-size: 12px;
    }
}